.block-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        135deg,
        #0b6b3a,
        #084f2b
    );
}

.block-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.block-item {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    color: #fff;
    font-size: 14px;
}

.info-text {
    color: #fff;
    text-align: center;
    margin: 20px 0;
}

.container-block form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
