/* Importa as definições gerais de reserva */
@import "./Reservation.css";

.container-reservation button {
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
    transition: transform 0.2s;
}

.container-reservation button:hover {
    transform: scale(1.02);
}