/* IdeaProjects/ReservaIFPB-frontend/src/components/home/Home.css */

.container-home{
    width: 80%; /* Mais largo para o layout de grade */
    max-width: 1000px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 10px;
    margin: 30px auto; /* Centraliza */
}

.container-home h1, .container-home p {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    text-shadow: #000 1px 1px;
}

.grid-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Cria um layout responsivo de grade */
    gap: 20px;
    padding-top: 20px;
}

.card {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid transparent;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon-home {
    font-size: 40px;
    color: #fff;
    margin-bottom: 10px;
    text-shadow: #000 1px 1px;
}

.card h2 {
    font-size: 18px;
    margin: 0;
    color: #fff;
    text-shadow: #000 1px 1px;
}

.card.logout {
    background-color: rgba(255, 99, 71, 0.5); /* Cor para o botão de sair */
}

.card.logout:hover {
    background-color: tomato;
}