/* Página de login (fundo) */
.login-page{
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-image: url("/src/assets/Reserva_IFPB_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

/* Container do formulário */
.container{
    width: 400px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 10px;
    margin-right: 30px;
}

/* Título */
.container h1{
    text-align: center;
    font-size: 30px;
    color: #fff;
}

/* Campos */
.container .input-field{
    position: relative;
    width: 95%;
    height: 50px;
    margin: 30px auto;
}

.input-field input{
    width: 85%;
    height: 100%;
    background-color: transparent;
    outline: none;

    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;

    font-size: 16px;
    color: #fff;
    padding: 0 45px 0 20px;
}

.input-field input::placeholder{
    color: #fff;
}

/* Ícones */
.input-field .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
}

/* Remember / Forgot */
.container .recall-forget{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -10px 0 15px;
}

.recall-forget label{
    color: #fff;
}

.recall-forget input{
    margin-right: 5px;
}

.recall-forget a,
.signup-link p a{
    color: #fff;
    text-decoration: none;
}

.recall-forget a:hover,
.signup-link p a:hover{
    text-decoration: underline;
}

/* Botão */
.container button{
    width: 100%;
    height: 50px;

    background-color: #fff;
    border: none;
    border-radius: 40px;

    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

/* Signup */
.container .signup-link{
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}