*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

.button-group.main-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.button-group.main-menu button {
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background-color: #2e7d32;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.button-group.main-menu button:hover {
    background-color: #1b5e20;
}

